* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-header {
  color: #fff;
  background-color: #FF1616;
  padding: 0px 0;
  display: flex;
  justify-content: center;
}

.logo {
  height: 80px;
}

.nav {
  background-color: #2F323D;
}

.nav-item {
  color: #fff;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: gray;
}

ul li a:active {
  background-color: #FF1616;
}

.page {
  color: red;
  background-color: black;
  display: flex;
  justify-content: center;
}

.content {
  width: 900px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 800px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 600px;
  height: 650px;
}

.text-container {
  background-color: #2F323D;

  display: flex;
  align-content: space-between;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
}

.intro-home {
  font-size: 40;
  font-family: arial black;
}

.photographer {
  color: white;
  font-size: 20px;
}

.bike-image {
  margin: 0 0 20px 20px;
  width: 300px;
  height: auto;
  object-fit: contain;
}


.portfolio-image {
  width: 200px;
  margin: 10px;
}

#home-page {
  width: 350px;
  height: 280px;
}

#about {
  width: auto;
  height: 300px;
}

#reviews {
  width: 47%;
}

#review-page {
  justify-content: space-between;
}



.footer {
  padding: 10px;
  text-align: center;
}
